.about{
    height: 900px;
}
.about-h1{
    padding-left: 50px;
}
.about-para{
    padding-left: 60px;
    color: rgba(255, 255, 255, 0.496);
    align-items: center;
}
.quote{
    color: rgba(255, 255, 0, 0.338);
}
.educations{
    padding-top: 30px;
    padding-left: 50px;
}
.education{
    display: flex;
   padding-bottom: 50px;
    justify-content: space-around;
   

    
}
.skill{
    padding-left: 50px;
}
.skill2{
    padding-left: 60px;
    color:rgba(255, 255, 255, 0.496) ;
}
.language{
    display: flex;
}
.language-icon{
    height: 40px;
}
.graphics-icon{
    height: 40px;
    display: flex;
}
.frontend-icons{
    display: flex;
}
.frontend-icon{
    height: 40PX;
}
.other-icon{
    display: flex;
}
.othericon{
    height: 40px;
}
li{
    line-height: 30px;
}
a{
    color: rgba(255, 255, 255, 0.496);
}


@media screen and (max-width : 780px) {
    .about-h1{
        padding-left: 20px;
    }
    .about-para{
        padding-left: 30px;
    }
    .educations{
        padding-left: 20px;
    }
    .skill{
        padding-left: 20px;
    }
    .skill2{
        padding-left: 30px;
    }
}