.about{
    height: 700px;
    overflow: hidden;
}
.about-h1{
    color: rgba(221, 225, 10, 0.758);
    font-size: 40px;
    font-weight:bold;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Domine', serif;;
}
.about-para{
    color: rgba(255, 255, 255, 0.496);
    align-items: center;
}
.quote{
    color: rgba(255, 255, 0, 0.338);
}

.aboutcontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.educations{
    width: 50%;
}

.education{
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.education ul{
    list-style-type:circle;
}

.skill{
    width: 50%;
}
.skill2{
    padding-left: 40px;
    width: 350px;
    color:rgba(255, 255, 255, 0.496) ;
}
.language{
    margin-bottom: 8px;
    display: flex;
}
.language-icon{
    height: 40px;
}
.graphics-icon{
    height: 40px;
    display: flex;
   
    margin-bottom: 8px;
}
.frontend-icons{
    display: flex;

    margin-bottom: 8px;
}
.frontend-icon{
    height: 40PX;
}
.other-icon{
    display: flex;

}
.othericon{
    height: 40px;
}
li{
    line-height: 30px;
}
a{
    color: rgba(255, 255, 255, 0.496);
}


@media screen and (max-width : 780px) {
    .about{
        height: 1100px;
        overflow: hidden;
    }
    .about-para{
        padding-left: 10px;
    }
    .aboutcontainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 40px;
    }
    .educations{
        padding-top: 20px;
        width: 100%;
    }
    .skill{
        width: 100%;
    }

    .skill2{
        padding-left: 10px;
    }
}
