.home{
    color: white;
    display: flex;
    justify-content: space-between;
    height: 700px;
}
.main--text{
    padding-top: 180px;
}
.main--text a{
    text-decoration: none;
    color: white;
}

.main--text button{
    background: -webkit-linear-gradient(rgb(191, 202, 114), rgb(121, 108, 4));
    width: 140px;
    height: 40px;
    margin-top: 10px;
}
.main-h1{
    font-size: 60px;
    background: -webkit-linear-gradient(rgb(191, 202, 114), rgb(121, 108, 4));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wave{
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.main-para{
    font-size: 20px;
    line-height: 2;
}
.myPic-sec{
    padding-top: 40px;
    /* padding-right: 140px; */
}
.myPic{
    border-collapse: separate;
    border-radius: 10px;
    max-width: 100%;
    height:560px;
}

.mypicmobile{
    display: none;
}

@media screen and (max-width: 780px) {

    .main--text{
        width: 400px;
    }
    .main-h1{
        font-size: 40px;
    }
    .main--text{
        padding-top: 80px;
    }
    .myPic-sec{
        padding-top: 40px;
    }
}

@media screen and (max-width: 400px) {
    
    .myPic-sec{
        display: none;
    }
    .mypicmobile{
        display:flex;
        align-self: center;
        justify-content: center;
        max-width: 100%;
        height: 160px;
        border-radius: 20px;
        margin: 30px;
        /* overflow: hidden; */
    }
    .main-h1{
        font-size: 25px;
    }
    .main-para
    {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.562);
    }
}
