.main-text{
    
    padding-left: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.main--text{
    padding-top: 180px;
}
.main-h1{
    font-size: 60px;
    background: -webkit-linear-gradient(rgb(191, 202, 114), rgb(121, 108, 4));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-para{
    font-size: 20px;
    line-height: 2;
}
.myPic-sec{
    padding-top: 40px;
    padding-right: 140px;
}
.myPic{
    border-collapse: separate;
    border-radius: 10px;
   
   
  max-width: 100%;
  height:600px;
  
}

@media screen and (max-width: 780px) {
    .main-text{
        padding-left: 20px;
        overflow-x: hidden;
    }
    .main--text{
        padding-top: 40px;
    }
    .myPic-sec{
        padding-top: 40px;
        padding-right: 100px;
    }
    .myPic{
        border-collapse: separate;
        border-radius: 10px;
       
       
      max-width: 240px;
      height:500px;
      
    }
}

@media screen and (max-width: 400px) {
    
    .myPic-sec{
        display: none;
    }
}
